h1, h2, h3, h4, h5, h6
  font-family: "Playfair Display", Georgia, "Times New Roman", serif

/*
 * Blog posts
 */

.blog-body
  margin-bottom: 1rem

.blog-header .title
  margin-bottom: .25rem

.blog-header .meta
  margin-bottom: 2.0rem

.blog-body p
  margin-top: 0.5rem
  margin-bottom: 0.5rem
