html
  height: 100%
  overflow-y: auto

body
  min-height: 100%
  
.maxwidth
  margin-right: auto
  margin-left: auto

+widescreen
  .maxwidth
    max-width: $widescreen

.layout-base
  padding-top: 0.5rem
  padding-bottom: 0.5rem
  
// Bulma 0.9 override
.columns
  margin-top: 0
  margin-bottom: 0

#sitedesc_image
  width: 500px
  height:100px
  max-width: 100%
  background: transparent url(../images/blue-sfme.png) no-repeat left top
  background-size: 100% auto
  float: none
  margin-top: 0
  margin-bottom: 10px
  margin-right: auto
  margin-left: auto
