html {
  height: 100%;
  overflow-y: auto;
}

body {
  min-height: 100%;
}

.maxwidth {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1216px) {
  .maxwidth {
    max-width: 1216px;
  }
}
.layout-base {
  padding-top: 5rem;
}

footer.site-footer {
  padding-top: 5rem;
}

.columns {
  margin-top: 0;
  margin-bottom: 0;
}

.blog {
  padding: 10px;
}

.widget {
  padding: 10px;
}

main.column,
aside.column {
  padding: 0 !important;
}

.main-wrapper,
.aside-wrapper {
  padding: 0 10px 0 10px;
}

.main-wrapper,
.aside-wrapper {
  margin-bottom: 20px;
}

@media screen and (min-width: 769px), print {
  .main-wrapper {
    margin-right: 10px;
    margin-left: 10px;
  }

  .aside-wrapper {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media screen and (min-width: 1216px) {
  .main-wrapper {
    margin-left: 0px;
  }

  .aside-wrapper {
    margin-right: 0px;
  }
}
body {
  background-image: url("../images/light-grey-terrazzo.png");
}

/*# sourceMappingURL=main.css.map */
