html {
  height: 100%;
  overflow-y: auto;
}

body {
  min-height: 100%;
}

.maxwidth {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1088px) {
  .maxwidth {
    max-width: 1366px;
  }
}
.layout-base {
  padding-top: 5rem;
}

footer.site-footer {
  padding-top: 5rem;
}

body {
  background-image: url("../images/light-grey-terrazzo.png");
}

/*# sourceMappingURL=main.css.map */
