@charset "UTF-8";
html {
  height: 100%;
  overflow-y: auto;
}

body {
  min-height: 100%;
}

.maxwidth {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1216px) {
  .maxwidth {
    max-width: 1216px;
  }
}
.layout-base {
  padding-top: 5rem;
}

footer.site-footer {
  padding-top: 5rem;
}

.columns {
  margin-top: 0;
  margin-bottom: 0;
}

.blog {
  padding: 0px;
}

.blog-header {
  padding: 5px 10px 5px 10px;
}

.blog-body {
  padding: 5px 10px 5px 10px;
}

.widget {
  padding: 0px;
}

.widget-header {
  padding: 5px 10px 5px 10px;
}

.widget-body {
  padding: 5px 10px 5px 10px;
}

.maxwidth main.column,
.maxwidth aside.column {
  padding: 0 !important;
}

.main-wrapper,
.aside-wrapper {
  padding: 0 10px 0 10px;
}

.main-wrapper,
.aside-wrapper {
  margin-bottom: 20px;
}

@media screen and (min-width: 769px), print {
  .main-wrapper {
    margin-right: 10px;
    margin-left: 10px;
  }

  .aside-wrapper {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media screen and (min-width: 1216px) {
  .main-wrapper {
    margin-left: 0px;
  }

  .aside-wrapper {
    margin-right: 0px;
  }

  .is-full .main-wrapper {
    margin-right: 0px;
  }
}
body {
  background-image: url("../images/light-grey-terrazzo.png");
}

ul.widget-list li:hover {
  background: #fff176;
}

ul.widget-list {
  padding: 0px;
}

ul.widget-list {
  padding-left: 0;
  list-style: none;
  font-size: 13px;
  margin-left: 20px;
}

ul.widget-list li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  color: #9e9e9e;
  margin: 0 5px 0 -12px;
}

ul.widget-list li:hover:before {
  color: #ffeb3b;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

/* * Blog posts
 * */
.blog-body {
  margin-bottom: 1rem;
}

.blog-header .title {
  margin-bottom: 0.25rem;
}

.blog-header .meta {
  margin-bottom: 2rem;
}

.blog-body p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.blog-header .title a,
.blog-header .subtitle a {
  color: #424242;
}
.blog-header .title a:hover,
.blog-header .subtitle a:hover {
  color: #2196F3;
}

a.post-previous:after {
  content: " previous";
}

a.post-next:before {
  content: "next ";
}

.blog-body .pagination {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*# sourceMappingURL=main.css.map */
