html {
  height: 100%;
  overflow-y: auto;
}

body {
  min-height: 100%;
}

.maxwidth {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1216px) {
  .maxwidth {
    max-width: 1216px;
  }
}
.layout-base {
  padding-top: 5rem;
}

footer.site-footer {
  padding-top: 5rem;
}

body {
  background-image: url("../images/light-grey-terrazzo.png");
}

blockquote {
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #00d1b2;
}

/*# sourceMappingURL=main.css.map */
