@keyframes my__progress__frames {
  from { width: 0%; }
  to   { width: 100%; }
}

.my__progressbar_text {
  white-space: nowrap;
}

.my__inner_bar {
  height: 10px;
  border-radius: 10px;

  background-color: #BBDEFB; 
  background-image: linear-gradient(
        45deg, #2196F3 10px, 
        transparent 20px, transparent 25%, 
        #64B5F6 50%, #90CAF9 75%,
        transparent 75%, transparent); 

  animation-duration: 5s;
  animation-fill-mode: both;
  animation-name: my__progress__frames;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-direction: normal;
}

